{% extends 'base/template.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="center-align">
	<h5 class="blue-text text-darken-2">Change your password</h5>
	<div class="section"></div>

	<div class="row">
	  <div class="z-depth-1 grey lighten-4 col xl6 offset-xl3 s12" style="display: inline-block; padding: 10px 60px 15px 60px; border: 1px solid #EEE;">

	    <form class="col s12" method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
		<div class="section"></div>

        {{ form.non_field_errors }}

        <div class='row'>
          <div class='input-field col s12'>
            {{ form.oldpassword|add_class:"validate" }}
            <label for='{{ form.oldpassword.id_for_label }}'>{{ form.oldpassword.label }}</label>
            {% for error in form.oldpassword.errors %}
              <span class="left red-text" >* {{ error }}</span>
            {% endfor %}
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            {{ form.password1|add_class:"validate" }}
            <label for='{{ form.password1.id_for_label }}'>{{ form.password1.label }}</label>
            {% for error in form.password1.errors %}
              <span class="left red-text" >* {{ error }}</span>
            {% endfor %}
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            {{ form.password2|add_class:"validate" }}
            <label for='{{ form.password2.id_for_label }}'>{{ form.password2.label }}</label>
            {% for error in form.password2.errors %}
              <span class="left red-text" >* {{ error }}</span>
            {% endfor %}
          </div>
        </div>

	      <br />
	     
        <div class='row'>
          <a href="{% url 'users_profile' %}" class='col s3 btn btn-large blue-grey darken-1'>Cancel</a>
          <button type='submit' name='btn_login' class='col s8 offset-s1 btn btn-large waves-effect blue darken-1'>Change Password</button>
        </div>
	      
	    </form>

	  </div>
	</div>
</div>

{% endblock content %}