{% extends "base/template.html" %}

{% block content %}
  

<div class="section"></div>
<div class="row">
    <div class="col l8 offset-l2">
    <div class="card-panel" style="text-align: center; padding-bottom: 50px;">
        <p style="font-size: 2rem; font-weight: 500;">Set Password</p>
        <p>
            Set a new password for your account
        </p>
        <form method="POST" action="{% url 'account_set_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn blue" type="submit" name="action" value="Set password"/>
        </form>
    </div>
    </div>
</div>


{% endblock content %}
